
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutRestaurant.cshtml";
}

<h2>Restaurant Dashboard</h2>

<div class="form-horizontal">
    <a href="/Restaurant/CreateRequest">Food Collection Request</a>
</div>