
@{
    ViewBag.Title = "AssignEmployee";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Assign Employee</h2>

@if (TempData["Msg"] != null)
{
    <h5 class="alert alert-danger">@TempData["Msg"]</h5>
}

<h4>Employee</h4>
<form action="" method="post">
    <input type="number" name="id" value=@ViewBag.id hidden />
    <select class="form-control" name="employee">
        <option value="" selected disabled>Select Employee</option>
        @foreach (var emp in Model)
        {
            <option value="@emp.name">@emp.name</option>
        }
    </select>
    <input type="datetime" name="accept_time" value=@DateTime.Now.ToShortTimeString() ; hidden />
    <input type="text" name="status" value="Assigned" hidden />
    <br />
    <input class="btn btn-primary" type="submit" value="Assigned" />
</form>